body{

margin:0;

background:#fff8f5;

color:#60494b;

font-family:Montserrat,sans-serif;

text-align:center;

}


h1,h2{

font-family:Cormorant Garamond,serif;

color:#b36b75;

}



.hero{


height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(
rgba(255,245,240,.8),
rgba(255,245,240,.8)
),

radial-gradient(circle,#f6c78c,#d8a4af);


}



.hero h1{

font-size:90px;

line-height:.8;

}



.hero span{

font-size:60px;

}



.small{

letter-spacing:5px;

text-transform:uppercase;

}



button{

background:#b36b75;

border:0;

color:white;

padding:15px 35px;

border-radius:40px;

}



.music{

position:fixed;

top:20px;

right:20px;

z-index:10;

}



section{

padding:70px 20px;

max-width:900px;

margin:auto;

}



p{

font-size:18px;

line-height:1.8;

}



.timer{

background:white;

padding:30px;

border-radius:30px;

box-shadow:0 10px 30px #0002;

}



.numbers{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

}



.numbers div{

background:#fff3ef;

padding:20px;

width:80px;

border-radius:20px;

}



.numbers b{

display:block;

font-size:35px;

color:#b36b75;

}



.numbers span{

font-size:12px;

}



.info{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.card{

background:white;

padding:30px;

border-radius:30px;

width:280px;

}



a{

color:#b36b75;

font-weight:bold;

}



.timeline p{

background:#f4dfdc;

padding:20px;

border-radius:20px;

}



.colors div{

width:60px;

height:60px;

border-radius:50%;

display:inline-block;

margin:10px;

}


.colors div:nth-child(1){

background:#f4c27a;

}

.colors div:nth-child(2){

background:#d7a3aa;

}

.colors div:nth-child(3){

background:#a7d1e3;

}

.colors div:nth-child(4){

background:#ef8c7d;

}



.telegram{

background:#f5e4df;

border-radius:40px;

}



footer{

padding:50px;

background:#b36b75;

color:white;

}



footer h1,
footer h2{

color:white;

}



@media(max-width:600px){

.hero h1{

font-size:60px;

}

}
// Открытие конверта

function openEnvelope(){

document
.getElementById("envelope")
.classList.add("hide");

}



// лепестки

function createPetal(){


let petal=document.createElement("div");

petal.className="petal";


petal.style.left=
Math.random()*100+"vw";


petal.style.animationDuration=
(5+Math.random()*5)+"s";


petal.style.opacity=
Math.random();



document.body.appendChild(petal);



setTimeout(()=>{

petal.remove();

},10000);



}


setInterval(createPetal,400);





// появление секций

let sections=document.querySelectorAll("section");


function reveal(){


sections.forEach(section=>{


let top=
section.getBoundingClientRect().top;


if(top<
window.innerHeight-100){

section.classList.add("show");

}


});


}



window.addEventListener(
"scroll",
reveal
);


reveal();
